{
  background-color: #ffffff;
}
#body {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0px;
}
.container {
  margin-top: 100px;
  max-width: 1200px;
  box-sizing: border-box;
  text-align: left;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  box-sizing: border-box;
}

.col-lg-4 {
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

.profile {
  text-align: center;
  padding: 30px 10px;
  position: relative;
  box-sizing: border-box;
}

img {
  width: 270px;
  height: 270px;
  margin: 0 auto;
  /* object-fit: cover; */
  border-radius: 50%;
  max-width: 100%; 
  display: block;
  box-sizing: border-box;
}

.col-3 {
  flex: 0 0 66.66666667%;
  max-width: 66.66666667%;
  /* display: block; */
  /* position: relative; */
  /* /* width: 100%; */
  /* padding-right: 15px; */
  /* padding-left: 15px;   */
  box-sizing: border-box;
}

.hello {
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
 display: inline-block;
 justify-content: center;
}
h1 {

  font-size: 30px; 
  font-family: "Libre Baskerville",sans-serif;
  line-height: 1.25;
  margin-top: 1rem;
  /*font-size: 3em;*/
  font-weight: 400;
  color: #313131;
  margin: 0 0 0 0;
  padding-top: 30px;
  /* margin: 20px 0 10px 0; -> For Circle Logo */
  text-align: center;
}
p {
  font-size: 1.25em;
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1rem;  
  box-sizing: border-box;
  text-align: center;
  line-height: 2;
}
p a:link{
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-decoration-line: underline;
  text-decoration-style: dotted;
}
p a:hover{
  color:rgb(102, 0, 143);
}

.portrait-title{
  box-sizing: border-box;
  text-align: center;
}

h2 {
  font-family: "Libre Baskerville",sans-serif;
  font-size: 1.75em;
  font-weight: 400;
  color: #000000;
  margin: 20px 0 10px 0;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-decoration: none;
}

h3 a:link{
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-decoration-line: underline;
  text-decoration-style: dotted;
}
h3 a:hover{
  color:rgb(102, 0, 143);
  text-decoration-line: underline;
  text-decoration-style: dotted;
}


ul {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #563d7c;
}

.rec {
  margin-top: 200px;
}


li {
  display: inline-block;
  text-align: center; 
  font-family: 'Roboto', sans-serif;
  font-weight: 250px;
  font-size: 30px;
  margin-top: 8px;

}
li a {
  color: rgb(240, 240, 240);
  display: inline-block;
  text-align: center;
  padding: 10px;
  background-color: #563d7c;
  text-decoration: none;
}

li a:hover {
  color:rgb(199, 199, 199);
}

@media (max-width: 950px) {
  li {
    font-size: 25px;
    display: inline-block;
    
  }
  img {
    width: 256px;
    height: 256px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  .col-3 {
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  .col-12 {
    margin-left: auto;
    margin-right: auto;
  }
  .col-lg-4 {
    flex: 0 auto;
    max-width: 100%;
  }
}

@media (max-width: 650px) {
  li {
    font-size: 15px;
    display: inline-block;
    
  }
  img {
    width: 128px;
    height: 128px;
    margin-left: auto;
    margin-right: auto;

    max-width: 100%;

  }
  h1 {
    font-size: 20px;
  }
  p {
    display: block;
    font-size: 1.2em;
    max-width: 100%;
  }
}
